<div id="home">
  <div class="container-fluid">
    <div class="jumbotron shadow-sm BG3">
    <div class="row">
          <div class="col-5">
            <h2 class="text-left logo">Logo</h2>
          </div>
          <div class="col-2">
            <h1 class="text-center pageName">MyPetPlant</h1>
          </div>
          <div class="col-5">  
            <h2 class="text-right hamburger">Hamburger</h2>
          </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="jumbotron shadow-lg BG">
    <div class="row">
      <div class="col-12">
        <p class="text-center">At MyPetPlant we know that caring for an animal isn't in everybody's schedule.  That's why we developed a system for matching you with a great plant that fits into your schedule and enviornment.  Now anyone can feel the satisfaction of caring and nurturing a living thing!</p>
      </div>
    </div>
    </div>
    <div class="jumbotron shadow-lg BG2">
    <div class="row">
      <div class="col-12">
        <a href="/survey"><p class="btn-lg btn-info text-center" role="button">Take our survey and get started!</p></a>
      </div>
    </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
