<div id="login">
    <div class="container">
        <div class="jumbotron BG">
            <h2 class="text-center">Login:</h2>
            <hr><br>
            <h4 class="">Your Username:</h4>
            <input type="text" class="form-control" placeholder="Username" id="name">
            <h4 class="">Your Password:</h4>
            <input type="password" class="form-control" placeholder="password"id="password">
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block" id="submit" data-target="#submitAnswers">Login</button>
    </div>
</div>