    <div class="container">
        <div class="jumbotron shadow BG3">
            <h2 class="text-center">Let's create an account:</h2>
            <hr><br>
            <h4 class="">Your Username:</h4>
            <input type="text" class="form-control" placeholder="Get creative!" id="user">
            <h4 class="">Your Email:</h4>
            <input type="text" class="form-control" placeholder="name@example.com"id="email">
            <h4 class="">Your Password:</h4>
            <input type="password" class="form-control" placeholder="Between 5 and 8 characters"id="password">
        </div>
        
        <div class="jumbotron shadow BG" id="questionDiv">
            <div>
                <h1 class="header text-center">Survey Questions</h1>
            <br><hr>
                <h1 class="text-center">Answer honestly for the best outcome!</h1>
                <hr><br>
            </div>

        </div>

        <br><br>

        <button type="submit" class="btn btn-success btn-lg btn-block" id="survey" data-toggle="modal"
            data-target="#submitAnswers">Submit</button>

    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>