<div id="user">
<div class="container-fluid">
    <div class="jumbotron">
    <div class="row">
          <div class="col-5">
            <h2 class="text-left logo">Logo</h2>
          </div>
          <div class="col-2">
            <h1 class="text-center pageName">MyPetPlant</h1>
          </div>
          <div class="col-5">  
            <h2 class="text-right hamburger">Hamburger</h2>
          </div>
    </div>
  </div>
  </div>
  <div class="container">
      <div class="jumbotron">
          <div class="row">
              <div class="col-4 jumbotron basicBG">
              <div class="">
                  <p>PLANT PICTURE PLACEHOLDER!!!</p>
                  <p>PLANT NAME PLACEHOLDER!!!</p>
              </div>
              </div>
              <div class="col-1"></div>
              <div class="col-7 jumbotron basicBG">
                  <div class="">PLANT CARE SECTION PLACEHOLDER!!!</div>
              </div>
          </div>
      </div>
      <br><hr>
      <div class="jumbotron">
          <div class="row">
              <div class="col-12 jumbotron basicBG">
                  <p>PLANT CHECKLIST PLACEHOLDER!!!</p>
              </div>
          </div>
      </div>
  </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>